#content{
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
    width: 100%;
}
th{
    padding: 1rem 3rem 2.5rem;
    font-size: 1.5rem;
}
.contain {
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    padding: 0 2rem 1.5rem;
}
h1,h2{
    text-align: center;
}
section{
    margin: 0 auto;
    width: 90%;
}
#home{
    width: 50%;
    height: 50rem;
    margin: 0 auto;
    color: white;
    background-color: rgb(37, 150, 190);
    box-shadow: 5px 5px black;
}
body{
    background-color: grey;
}
