.flexbox{
    display: flex;
    border: 1px red solid;
    justify-content: space-evenly;
}
.contain {
    margin: 0 auto;
    border: 1px black solid;
    justify-content: space-around;
    display: flex;
    /* width: 70%; */
    padding: 0 2rem;
}
section{
    text-align: center;
}
